<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% if login_url %}
        <h1>It's time to log in!</h1>
        <a href="{{ login_url }}">Login to Salesforce</a>
        {% else %}
        <h1>You are logged in!</h1>
        <a href="/mainapp/">Take me to the main app</a>
        {% endif %}
    </body>
</html>
